.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px;
}

.tabs > * {
  padding-right: 50px;
  padding-top: 7px;
}

.current {
  padding-right: 50px;
  border-top: 3px solid #3EC7BB;
  padding-top: 7px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.menu {
  display: flex;
  flex-direction: row;
  width: 250px;
  justify-content: space-around;
}

.headerTab {
  display: flex;
  flex-direction: column;
}

.side {
  display: flex;
  flex-direction: column;
  height: 100%vh;
  background-color: #383A3A;
  width:75px;
}

.guy {
  border-radius: 50px;
  border: 4px solid #333333;
}

.logo {
  padding: 10px;
}

.pointer:hover {
  cursor: pointer;
}

.settings, .survey, .logout {
  display: flex;
}

.headerSub {
  padding-right: 10px;
  padding-left: 10px;
}

.mainTitle {
  display: flex;
  flex-direction: row;
  font-size: 26px;
  padding-left: 30px;
  padding-top: 30px;
  background-color: transparent;
}

.mainContent {
  padding-left: 10px;
  padding-top: 30px;
}

.siteBackground {
  background-color: #F5F5F5;
}

.card {
  margin-left: 40px;
  margin-right: 29px;
  margin-top: 35px;
  margin-bottom: 35px;
  background-color: white;
}

.questionAndSwitches {
  display: flex;
  justify-content: space-between;
}

.switchIcons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end space-between;
}

.questionSub {
  text-align: left;
  color: #AEAEAE;
  font-size: 14px;
  padding-bottom: 5px;
  padding-left: 35px;
}

.questionBar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 45px;
  padding-left: 35px;
}

.question {
  align-items: flex-start;
}

.arrowIcons {
  display: flex;
  justify-content: flex-end;
  padding-right: 35px;
}

.leftSwitch, .rightSwitch {
  padding-left: 10px;
  padding-right: 10px;
  color: #AEAEAE;
}

.text {
  line-height: 24px;
}

.circleBorder {
  border: 1px solid #EAEAEA;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  padding: 5px;

}

.hoverColor:hover {
  color:#3EC7BB; 
}

.axis {
  color: black;
}

.fullGraph {
  display: flex;
  width: 548px;
}

.sub {
  display: flex;
  justify-content: space-between;
  width: 548px;
}

.bottom {
  margin-left: 10px;
  display: flex; 
}

.feel {
  padding-left: 10px;
}

.colorAndFeel {
  display: flex;
}

.percentAndCount {
  display: flex;
}

.percent {
  display: flex;
  justify-content: flex-start;
  padding-right: 15px; 
}

.stat {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 14px; 
}

.tableStats {
  width: 548px;
  padding: 30px; 
}

#code {
	width: 20px;
	height: 20px;
  border-radius: 50px;
}

.total {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 10px;
}

.respondents {
  padding-left: 25px;
}

.yAxis line, path {
  stroke: #AEAEAE;
}

.yAxis text {
  fill: #AEAEAE;
}

.scoreAndTrends {
  display: flex; 
}

.scores {
  display: flex;
  flex-direction: column;
  height: 507px;
  justify-content: space-between;
  padding-left: 40px;
}

.donut {
  border: 30px solid;
  border-radius: 150px;
  height:100px;
  width:100px;
}

.currentScore {
  border-color: #F9BE01;
}

.previous {
  border-color: #FF8B4F; 
}

.scoreText {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  height:100px;
  width:100px;
}

.scoreStat {
  font-size: 14px;
}

.direction {
  display: flex;
  padding-left: 55px;
}

.analysis, .actions {
  font-size: 14px;
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
  width: 340px;
}

.analysis > *, .actions > *{
  padding: 15px;
}

.trend {
  padding: 20px;
}

.trendIcon {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: #F5F5F5;
  border: solid #F5F5F5;
}

.svgUpIcon {
  padding-top: 8px;
}

.trendTitle {
  display: flex;
  justify-content: flex-start;
  padding-left: 55px;
  padding-right: 55px;
}

.trendSub {
  font-size: 14px;
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
  width: 340px;
  padding-left: 15px;
}

.icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  stroke-width: 0;
  stroke: #36AD00;
  fill: #36AD00;
}

.upArrow {
  fill: #36AD00;
}
